lab2_/lab2_/Web References/referenciaServicioDedicaciones/dedicacionesmedias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codAsig" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getMediaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getMediaSoapIn">
    <wsdl:part name="parameters" element="tns:getMedia" />
  </wsdl:message>
  <wsdl:message name="getMediaSoapOut">
    <wsdl:part name="parameters" element="tns:getMediaResponse" />
  </wsdl:message>
  <wsdl:portType name="dedicacionesMediasSoap">
    <wsdl:operation name="getMedia">
      <wsdl:input message="tns:getMediaSoapIn" />
      <wsdl:output message="tns:getMediaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dedicacionesMediasSoap" type="tns:dedicacionesMediasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMedia">
      <soap:operation soapAction="http://tempuri.org/getMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dedicacionesMediasSoap12" type="tns:dedicacionesMediasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMedia">
      <soap12:operation soapAction="http://tempuri.org/getMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dedicacionesMedias">
    <wsdl:port name="dedicacionesMediasSoap" binding="tns:dedicacionesMediasSoap">
      <soap:address location="http://hads11asik.azurewebsites.net/dedicacionesmedias.asmx" />
    </wsdl:port>
    <wsdl:port name="dedicacionesMediasSoap12" binding="tns:dedicacionesMediasSoap12">
      <soap12:address location="http://hads11asik.azurewebsites.net/dedicacionesmedias.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>